body {
	background: #0E242D;
	color: #C2C2DA;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 50vh;
}

a {
	text-decoration: none;
}


*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(148, 146, 146, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgb(148, 146, 146, 0.7);
}

*::-webkit-scrollbar-thumb:active {
	background-color: rgb(148, 146, 146);
}


.hidden {
	display: none;
}

.small {
	font-size: 2vh;
}

.medium {
	font-size: 3vh;
}

.big {
	font-size: 5vh;
}


.green {
	color: #2ECF73;
}

.red {
	color: #CB546B;
}

.yellow {
	color: #BABD2F;
}

.turquoise {
	color: #7AC9C4;
	font-weight: bold;
}

.btn {
	background-color: rgb(0, 109, 204);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204), rgb(0, 68, 204));
	background-size: auto 200%;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
	border-width: 1px;
	border-radius: 4px;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px;
	padding: 4px 12px;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
}

.btn:hover, .btn:focus
{
	color:#FFF;
	background-color:#04C;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear
}

.module {
	border-radius: 6px;
	position: relative;
	margin: 8px;
	padding: 16px;
	color: #8b8ba1;
}

.moduleName {
	display: block;
	font-size: large;
	font-weight: bold;
	color: #ececec;
}

.moduleName > img {
	width: 20px;
	height: 20px;
}

.profile {
	color: #009d9d;
}

.hoster {
	position: absolute;
	right: 5%;
}


#moduleInfo {
	background-color: #254558;
	border-radius: 6px;
	left: 50%;
	padding: 1% 2.5%;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

#moduleIcon {
	max-height: 3vh;
	max-width: 3vh;
}

#moduleName:before {
	content: '#';
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	padding-right: 5px;
}

#cooldown {
	font-weight: bold;
}

#modules {
	border-radius: 5px;
	background-color: #254558;
	width: 96%;
	left: 2%;
	position: relative;
	height: 96vh;
}

#moduleList > .module:nth-child(even) {
	background-color: #243b4d;
}

#moduleList > .module:nth-child(odd) {
	background-color: #193040;
}

#moduleSearch {
	position: relative;
	left: calc(4vw + 8px);
	width: 90%;
	top: 10px;
	margin: 5px 0px;
	padding: 3px;
	font-size: 20px;
	border-radius: 6px;
	box-shadow: inset 5px 3px 6px 3px rgba(214, 214, 214, 0.5);
}

#moduleList {
	border-radius: 6px;
	left: 2%;
	position: relative;
	padding: 5px;
	margin: 5px;
	max-height: 85%;
	height: 94%;
	max-width: 94%;
	width: 94%;
	overflow-y: auto;
	top: 10px;
}

#footer {
	bottom: 0;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

@media (max-width: 760px) {
	.hoster {
		position: relative;
		display: block;
		left: 0px;
	}
}
