body {
	background: #0E242D;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #C2C2DA;
	height: 50vh;
}

a {
	text-decoration: none;
}

.big-green {
	font-size: 3vh;
	color: #2ECF73;
}

.red {
	color: #CB546B;
}

.yellow {
	color: #BABD2F;
}

.mt-blue {
	color: #7AC9C4;
	font-weight: bold;
}

#moduleInfo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#moduleIcon {
	max-width: 3vh;
	max-height: 3vh;
}

#moduleName {
	font-size: 5vh;
}

#moduleName:before {
	content: '#';
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	padding-right: 5px;
}

#cooldown {
	font-weight: bold;
}

#footer {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}